<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/layout.css"></link>
    <title> AwesomeWiki </title>
  </head>

  <body>
    <div id="content">
      <div id="float-right">
        <a href="/"> Index </a>
      </div>

      <div class="clear">
      </div>

      <%= yield %>

    </div>

    <div id="footer">
        Powered By AwesomeWiki
    </div>

  </body>
</html>

